# Fundamentals: Python Intro

## Warm Up

In the cell below, import numpy and name it 'np' and create a list with the python data types that you learned about in the pre-lecture. Name the list "types".
Ex.

```
import ... as ...
types = [...]
```

In [138]:
# import numpy and create the list here
import numpy as np

#the list contains a Boolean, a Integer, a float, a String
types = [False,2, 3.5678,'Hello world']

In [139]:
# Warmup 1: Call the first element in types and slice the last 2 elements. Print both results.
#Call 1st elements
types[0]
#Slice 2 last elements of the types list
types[-2:]

[3.5678, 'Hello world']

In [140]:
# Warmup 2: Divide by 4, the second element in "types". 

types[1]/4

0.5

In this text cell, explain why or why not the code was able to execute. (Your explanation does _not_ need to be very detailed.)

## Exercise 1: Creating Data Containers

Create a list, a set, a tuple and an array. 

- The list (in order) should have
  - any 2 numbers as integers
  - any 2 numbers as floating point numbers
  - 2 of your favourite music artists as strings
  - 6 elements total. Name this list **'First'** and print it. 
- The Set (in order) should have
  - 1 even number less than 20
  - 3 of the first letters of the alphabet as strings in seperate entries.
  - 4 elements total. Name this set **'Second'** and print it.
- The Tuple (in order) should have
  - 6 negative numbers.
  - 6 elements total. Name this Tuple **'Third'** and print it.
- The array (in order) should have
  - the same 6 elements as the tuple but these numbers should be positive.
  - 6 elements total. Name this array **'Fourth'** and print it.

In [141]:
# The list
First = [10,50,1.2457,6.0978675,'Ray Charles', 'Roger Troutman']
print(First)

[10, 50, 1.2457, 6.0978675, 'Ray Charles', 'Roger Troutman']

In [142]:
# The set
Second = {8,'a','c','e'}
print(Second)

{8, 'a', 'c', 'e'}

In [143]:
# The tuple
Third = -16,-15,-14,-13,-12,-11
print(Third)

(-16, -15, -14, -13, -12, -11)

In [144]:
# The array
Fourth = [16,15,14,13,12,11]
print(Fourth)

[16, 15, 14, 13, 12, 11]

In [145]:
# Add the second element of 'First', and the last elements of 'Third' and 'Fourth'. Print the result.
result = First[0]+Third[-1]+Fourth[-1]
print(result)

10

In [146]:
# Slice the last 3 elements of 'Fourth' and append them to the list 'First'. Print the result.
First.append(Fourth[-3:])
First

[10, 50, 1.2457, 6.0978675, 'Ray Charles', 'Roger Troutman', [13, 12, 11]]

## Exercise 2: A Dictionary

Create a dictionary with the following keys, 'Name', 'Year', 'Music' and 'Food'. The values associated with each key (in order) should be your name, the current year, you favourite genre of music and one of your favourite foods. Name the dictionary 'Me' and print it.

In [147]:
# your dictionary here
Me = {'Name':'Samuel', 'Year':2023,'Music':'Funk','Food':'Pizza'}
print(Me)

{'Name': 'Samuel', 'Year': 2023, 'Music': 'Funk', 'Food': 'Pizza'}

In [148]:
# Replace the value associated with 'Food' to another one of your favourite foods. Print the updated dictionary.
Me['Food']='Pasta'
print(Me)

{'Name': 'Samuel', 'Year': 2023, 'Music': 'Funk', 'Food': 'Pasta'}

## Exercise 3: An "original" List

- Create a list with entries 1, 3, 2, 1, 5, 3, 5, 1, 4 and name it 'original'.
- Create another list called 'unique' that only contains unique numbers from original.

Example:

```
Input
[1, 2, 3, 1]

Output
[1, 2, 3]
```
**Hint:** Think about the properties of a set from lecture.

In [149]:
# List 1

original = [1,3,2,1,5,3,5,1,4]

In [150]:
# List 2
original = set(original)
unique = list(original)
print(unique)

[1, 2, 3, 4, 5]

## Exercise 4: Do the Math!

Call the last element of the array "Fourth" that you created above. Raise this element to the second power and add it to the second element of the list "First".

In [151]:
# do the math here...
lastEltFourth = Fourth[-1]
Square = lastEltFourth**2
First[1]+=Square
#it show the 2nd element is 171
First

[10, 171, 1.2457, 6.0978675, 'Ray Charles', 'Roger Troutman', [13, 12, 11]]

In [152]:
# Add the last three elements of "Third". 


First[1]+=sum(Third[-3:])
#sum(Third[-3:]) will return the sum of the last 3 items form Third -36
#then we add 36 to the 2nd value of First
# -36 + 171 = 135
First

[10, 135, 1.2457, 6.0978675, 'Ray Charles', 'Roger Troutman', [13, 12, 11]]

## Exercise 5: Conversion

- Convert the tuple, "Third" to an array.
- Double all the elements in "Third"
- Add the elements in this array to the elements in "Fourth".

To do this, use only 1 arithmetic statement. Store this result as "Fifth" and print it.

**Hint** Answer should look like this. 

```
Fifth = 2*___(____) + _____
print (Fifth)
```

In [153]:
# conversion here
Third = np.array(Third)
#return [-16 -15 -14 -13 -12 -11]
#now we double each item
Third*2
#then we add the element of the array into Fourth
Fifth = Fourth + Third
Fifth

#it return a list of 6 value equal to 0

array([0, 0, 0, 0, 0, 0])

## Exercise 6: Conditionals

Convert "Fifth" to a tuple and use a print statement to see if Fifth is equal to "Third".

In [154]:
# conditionals here
print(Fifth == Third)

[False False False False False False]